:root {
  --text-color: #000000;
  --help-button-color: #313131;
  --margin-a: 10px 0px;
}

.a-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 200px;
  background: var(--ad-banner-color);
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.a-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  color: var(--text-color);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.message-text {
  max-height: 80%;
  flex-shrink: 2;
}

.help-button {
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background-color: var(--help-button-color);
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  cursor: pointer;
  margin: var(--margin-a);
}
