:root {
  --bottom-background-color: #1c1d1f;
  --bottom-link-color: #00bff3;
  --sample-a-color: #424242;
  --bottom-font-size: 16px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bottom-background-color);
  align-items: center;
}

.bottom-width-constraint {
  width: 80%;
}

.bottom-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bottom-link {
  display: flex;
  flex-direction: column;
  margin: 25px 50px;
}

.bottom-link a {
  color: var(--bottom-link-color);
  text-decoration: none;
  font-size: var(--bottom-font-size);
  margin: 2px;
}

.bottom-a-container {
  display: flex;
  flex-direction: column;
  background-color: var(--sample-a-color);
  width: 300px;
  height: 350px;
  margin: 25px 50px;
  justify-content: center;
  text-align: center;
}

.bottom-header {
  font-size: 30px;
  color: white;
  width: 300px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.bottom-text {
  color: white;
  width: 300px;
  font-size: var(--bottom-font-size);
}

.a-text {
  color: white;
  width: 300px;
  font-weight: bolder;
  font-size: 30px;
}
