.copyright-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.copyright-text {
  font-size: 15px;
  margin: 80px;
}

.bottom-margin {
  margin-bottom: 100px;
}
